/* line 1, ../../slides/scss/css.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 7, ../../slides/scss/css.scss */
#slides {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: blue;
  height: 100%;
  width: 100%;
  display: block;
}
