* {
	-webkit-transition-duration: $duration;
	-webkit-animation-timing-function: $ease;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #000;
	color: $fg;
	font-family: "Myriad Pro", "Lucida Grande", "Gill Sans", "Gill Sans MT", "Lucida Sans Unicode", Calibri, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-moz-hyphens: auto;
	hyphens: auto;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'liga', 'dlig';
	-moz-font-feature-settings: 'liga', 'dlig';
	font-feature-settings: 'liga', 'dlig';
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(#000, .15);
}

input[type='text'], textarea {
	box-sizing: border-box;
	padding: .5em 1em;
	height: 100%;
	background: transparent;
	color: $fg;
	-webkit-appearance: none;
	border: none;
	outline: none;
	width: 100%;
	text-shadow: 1px 1px 1px rgba(#000, .15);

	overflow-wrap: break-word;
	word-wrap: break-word;
	-moz-hyphens: auto;
	hyphens: auto;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'liga', 'dlig';
	-moz-font-feature-settings: 'liga', 'dlig';
	font-feature-settings: 'liga', 'dlig';
	-webkit-font-smoothing: antialiased;
}

input {
	&[type='radio'], &[type='checkbox'] {
		height: auto;

		&.custom {
			display: none;
		
			+ span {
				margin-right: .5em;
				border-radius: 1em;
				position: relative;
				top: 2px;
				display: inline-block;
				height: .75em;
				width: .75em;
				background: $fg;
				border: 2px solid $fg;
			}
		
			&:checked {
				+ span {
				box-shadow: 0 0 0 2px $color inset;
				}
			}
		}
	}

	&[type='checkbox'].custom + span {
		border-radius: 0;
	}
}
.clear {
	&:before, &:after {
		clear: both;
		content: ".";
		height: 0;
		visibility: hidden;
	}
}

ul {
	margin: 2em 0 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0 0 .5em;
		padding: 0 2em;

		a {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}

a {
	&:link, &:active, &:visited, &:hover {
		color: $fg;
		text-decoration: none;
		cursor: pointer;
	}
}

#wrapper {
	background: rgba($color, .25);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.content {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.pane {
	border-right: 1px solid $border_color;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

	.title {
		box-sizing: border-box;
		padding: 0 .8em;
		height: 4em;
		width: 100%;
		font-size: 1.25em;
		font-weight: bold;
		line-height: 3.2em;
		background-color: rgba($color, .72);
	}

	.content {
		background-color: $color;
		top: 4em;
	}

}