html, body {
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
}

#wrapper {
	background: red;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

header {
	height: $bar;
	background-color: green;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#main {
	-webkit-transform-origin: left;
	-webkit-transition-duration: $duration;
	-webkit-animation-timing-function: $ease;
	background: purple;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	#overlay {
		-webkit-transition-duration: $duration;
		-webkit-animation-timing-function: $ease;
		height: 100%;
		width: 100%;
		display: none;
		opacity: 0;
		position: relative;
		z-index: 998;
		background-image: url("../images/overlay.png");
		background-size: cover;
	}

	#names {
		position: absolute;
		top: $bar;
		bottom: $bar;
		width: $names_width;
		background: teal;
	}

	#chat {
		background-color: aqua;
		position: absolute;
		top: $bar;
		right: 0;
		bottom: $bar;
		left: $names_width;
	}

	#msg {
		position: absolute;
		bottom: 0;
		height: $bar;
		width: 100%;
		background-color: olive;
	}
}

.pane {
	-webkit-transition-duration: $duration;
	-webkit-animation-timing-function: $ease;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

	&[data-order="0"] {
		z-index: 998;
	}

	&[data-order="1"] {
		z-index: 997;
	}

	&[data-order="2"] {
		z-index: 996;
	}

}

#users {
	-webkit-transform: translate3d($users_width,0,0);
	width: $users_width;
	background-color: $color;
}

#settings {
	-webkit-transform: translate3d($settings_width,0,0);
	width: $settings_width;
	background-color: orange;
}

#rooms {
	-webkit-transform: translate3d($settings_width,0,0);
	width: $rooms_width;
	background-color: fuchsia;
}