/* line 9, ../scss/css.scss */
.input_holder .label {
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
}

/* line 15, ../scss/css.scss */
html, body, h1, input, select {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga', 'dlig';
  -moz-font-feature-settings: 'liga', 'dlig';
  font-feature-settings: 'liga', 'dlig';
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../scss/css.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.5em;
  color: #333333;
}

/* line 35, ../scss/css.scss */
* {
  box-sizing: border-box;
}

/* line 39, ../scss/css.scss */
.small {
  font-size: .85em;
  color: #767676;
}

/* line 44, ../scss/css.scss */
.clear {
  clear: both;
}

/* line 48, ../scss/css.scss */
h1 {
  font-size: 18px;
  line-height: 1.5em;
  color: #d51740;
  text-align: center;
}

/* line 56, ../scss/css.scss */
#steps {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 62, ../scss/css.scss */
#steps li {
  background-color: #d5d5d5;
  height: 2px;
  line-height: 24px;
  text-align: center;
  margin: 12px 4px;
}
/* line 69, ../scss/css.scss */
#steps li.step {
  height: 24px;
  max-width: 24px;
  border-radius: 50%;
  margin: 0;
}
/* line 76, ../scss/css.scss */
#steps li.active {
  color: #fff;
  background-color: #d51740;
}
/* line 81, ../scss/css.scss */
#steps li:first-child, #steps li:last-child {
  background-color: transparent;
}

/* line 87, ../scss/css.scss */
.row {
  position: relative;
  margin: 0 10px 20px;
}
/* line 91, ../scss/css.scss */
.row.full_width {
  width: auto;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}
/* line 98, ../scss/css.scss */
.row.no_margin {
  margin-bottom: 0;
}

/* line 103, ../scss/css.scss */
.bt {
  border-top: 1px solid #d5d5d5;
}

/* line 107, ../scss/css.scss */
.bb {
  border-bottom: 1px solid #d5d5d5;
}

/* line 111, ../scss/css.scss */
.split {
  display: -webkit-box;
  display: box;
}
/* line 115, ../scss/css.scss */
.split > * {
  position: relative;
  width: 0;
  margin-right: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  box-flex: 1;
  flex: 1;
}
/* line 124, ../scss/css.scss */
.split > *:last-child {
  margin-right: 0;
}
/* line 129, ../scss/css.scss */
.split > .extra_width {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  box-flex: 2;
  flex: 2;
}
/* line 136, ../scss/css.scss */
.split > .input_holder {
  margin-right: 0;
}
/* line 139, ../scss/css.scss */
.split > .input_holder:not(:first-child) {
  padding-left: 10px;
}

/* line 145, ../scss/css.scss */
input, select {
  position: relative;
  background-color: transparent;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  width: 100%;
  height: 32px;
  border: none;
  box-shadow: none;
  padding: 10px 0 0;
  -webkit-appearance: none;
}
/* line 160, ../scss/css.scss */
input::-webkit-input-placeholder, input::placeholder, select::-webkit-input-placeholder, select::placeholder {
  color: #b6b6b6;
}

/* line 165, ../scss/css.scss */
select {
  background-image: url(../images/fw_drop_down@2x.png);
  background-position: right 7px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  color: #b6b6b6;
  padding-top: 10px;
  padding-right: 25px;
}

/* line 175, ../scss/css.scss */
.has_value {
  color: #333333;
}

/* line 179, ../scss/css.scss */
.input_holder {
  border-left: 1px solid #d5d5d5;
  padding: 5px 0 6.66667px;
}
/* line 183, ../scss/css.scss */
.input_holder:first-child {
  border-left-color: transparent;
}
/* line 187, ../scss/css.scss */
.input_holder .label {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 1px;
  color: #0fa2ff;
  font-weight: 500;
  font-size: 10px;
}
/* line 200, ../scss/css.scss */
.input_holder:not(:first-child) .label {
  left: 11px;
}
/* line 206, ../scss/css.scss */
.input_holder .has_value + .label {
  top: -4px;
  opacity: 1;
}
/* line 212, ../scss/css.scss */
.input_holder.has_error {
  background-color: #d51740;
}
/* line 215, ../scss/css.scss */
.input_holder.has_error input, .input_holder.has_error .label {
  color: #fff;
}
/* line 219, ../scss/css.scss */
.input_holder.has_error input::-webkit-input-placeholder, .input_holder.has_error::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* line 224, ../scss/css.scss */
#spacer {
  height: 60px;
}

/* line 228, ../scss/css.scss */
#primary_cta {
  bottom: 0;
  z-index: 999;
  height: 60px;
  line-height: 60px;
  width: 100%;
  border-top: 1px solid #fff;
}

/* line 237, ../scss/css.scss */
#price {
  margin-right: 0;
  background-color: #d5d5d5;
  text-align: center;
}

/* line 243, ../scss/css.scss */
#add_to_cart {
  text-align: center;
  color: #fff;
  font-weight: 700;
  background-color: #d51740;
  min-width: 160px;
}

/* line 251, ../scss/css.scss */
.fixed {
  position: fixed;
}

/* line 255, ../scss/css.scss */
.fix_fixed .fixed {
  display: none;
}
