/* line 1, ../scss/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

/* line 8, ../scss/_base.scss */
#wrapper {
  background: rgba(46, 142, 241, 0.25);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* line 18, ../scss/_base.scss */
header {
  -webkit-transition-duration: 0.33s;
  -webkit-animation-timing-function: ease-in;
  height: 64px;
  background-color: #2e8ef1;
  position: fixed;
  z-index: 990;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 30, ../scss/_base.scss */
header.opac {
  background-color: rgba(46, 142, 241, 0.35);
}

/* line 35, ../scss/_base.scss */
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* line 42, ../scss/_base.scss */
#main {
  -webkit-transform-origin: left;
  -webkit-transition-duration: 0.33s;
  -webkit-animation-timing-function: ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 52, ../scss/_base.scss */
#main #overlay {
  -webkit-transition-duration: 0.33s;
  -webkit-animation-timing-function: ease-in;
  display: none;
  opacity: 0;
  position: relative;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background-image: url("../images/overlay.png");
  background-size: cover;
}
/* line 67, ../scss/_base.scss */
#main #names {
  position: absolute;
  top: 64px;
  bottom: 64px;
  width: 150px;
  background-color: #000;
}
/* line 74, ../scss/_base.scss */
#main #names .content {
  background-color: rgba(46, 142, 241, 0.93);
}
/* line 79, ../scss/_base.scss */
#main #chat {
  background-color: #2e8ef1;
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 64px;
  left: 150px;
}
/* line 88, ../scss/_base.scss */
#main #msg {
  position: absolute;
  bottom: 0;
  height: 64px;
  width: 100%;
  background-color: #000;
}
/* line 95, ../scss/_base.scss */
#main #msg .content {
  background-color: rgba(46, 142, 241, 0.72);
}

/* line 101, ../scss/_base.scss */
.pane {
  box-sizing: border-box;
  -webkit-transition-duration: 0.33s;
  -webkit-animation-timing-function: ease-in;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
/* line 111, ../scss/_base.scss */
.pane[data-order="0"] {
  z-index: 998;
}
/* line 115, ../scss/_base.scss */
.pane[data-order="1"] {
  z-index: 997;
  border-right: 1px solid #0b56a4;
}
/* line 120, ../scss/_base.scss */
.pane[data-order="2"] {
  z-index: 996;
  border-right: 1px solid #0b56a4;
}
/* line 125, ../scss/_base.scss */
.pane .title {
  height: 64px;
  width: 100%;
  background-color: rgba(46, 142, 241, 0.72);
}
/* line 131, ../scss/_base.scss */
.pane .content {
  background-color: #2e8ef1;
  top: 64px;
}

/* line 138, ../scss/_base.scss */
#users {
  -webkit-transform: translate3d(200px, 0, 0);
  width: 200px;
}

/* line 143, ../scss/_base.scss */
#settings {
  -webkit-transform: translate3d(300px, 0, 0);
  width: 300px;
}

/* line 148, ../scss/_base.scss */
#rooms {
  -webkit-transform: translate3d(300px, 0, 0);
  width: 100px;
}
