/* line 1, ../scss/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

/* line 8, ../scss/_base.scss */
#wrapper {
  background: red;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* line 18, ../scss/_base.scss */
header {
  height: 64px;
  background-color: green;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 29, ../scss/_base.scss */
#main {
  -webkit-transform-origin: left;
  -webkit-transition-duration: 0.33s;
  -webkit-animation-timing-function: ease-in;
  background: purple;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 40, ../scss/_base.scss */
#main #names {
  position: absolute;
  top: 64px;
  bottom: 64px;
  width: 150px;
  background: teal;
}
/* line 48, ../scss/_base.scss */
#main #chat {
  background-color: aqua;
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 64px;
  left: 150px;
}
/* line 57, ../scss/_base.scss */
#main #msg {
  position: absolute;
  bottom: 0;
  height: 64px;
  width: 100%;
  background-color: olive;
}

/* line 66, ../scss/_base.scss */
.pane {
  -webkit-transition-duration: 0.33s;
  -webkit-animation-timing-function: ease-in;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
/* line 74, ../scss/_base.scss */
.pane[data-order="0"] {
  z-index: 998;
}
/* line 78, ../scss/_base.scss */
.pane[data-order="1"] {
  z-index: 997;
}
/* line 82, ../scss/_base.scss */
.pane[data-order="2"] {
  z-index: 996;
}

/* line 88, ../scss/_base.scss */
#users {
  -webkit-transform: translate3d(200px, 0, 0);
  width: 200px;
  background-color: #2a8cf1;
}

/* line 94, ../scss/_base.scss */
#settings {
  -webkit-transform: translate3d(300px, 0, 0);
  width: 300px;
  background-color: orange;
}

/* line 100, ../scss/_base.scss */
#rooms {
  -webkit-transform: translate3d(300px, 0, 0);
  width: 100px;
  background-color: fuchsia;
}
